*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.grid-container {
    height: 100vh;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
    grid-template-rows: 0.7fr 1.3fr 60px;
    gap: 10px;
    grid-template-areas:
        "one four four"
        "one four four"
        "three six six";
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.grid-container > div {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-area {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
}

.custom-button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.record-button,
.print-button {
    background-color: #757de8;
    color: #fff;
}

.record-button:hover,
.print-button:hover {
    background-color: #3f51b5;
    color: #fff;
}

.recording {
    background-color: #f44336;
    color: #fff;
}

.previous-file-list {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.previous-file-list > .border {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.previous-file-card {
    width: 100%;
    height: 100px;
    display: grid;
    column-gap: 25px;
    margin: 10px 0;
}

.previous-file-card > .file-icon {
    grid-area: 1 / 1 / 3 / 1;
    justify-content: end;
}

.previous-file-card > .file-name {
    grid-area: 1 / 2 / 1 / 10;
    justify-content: start;
}

.previous-file-card > .file-description {
    grid-area: 2 / 2 / 2 / 10;
    justify-content: start;
}

.previous-file-card > .file-icon,
.previous-file-card > .file-name,
.previous-file-card > .file-description {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.report-preview {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0;
}

.report-preview > table > tbody > tr > td {
    padding: 5px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
}
